HB_URL=http://192.168.1.10:8581
HB_USERNAME=homebridge
HB_PASSWORD=change-me
HB_POLL_INTERVAL=2000
HB_IDLE_POLL_INTERVAL=10000
HB_MOCK=0

PORT=8080
KIOSK_TITLE=
KIOSK_LOCALE=
KIOSK_THEME=auto
KIOSK_SCREENSAVER_AFTER=120
KIOSK_HIDE_TYPES=
KIOSK_ACCESS_CODE=
